<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dynamic Adventure</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>{{.Title}}</h1>
    {{range .Paragraphs}} <!-- ranges over the `story` list -->
      <p>{{.}}</p> <!-- dumps all the data in that list element -->
    {{end}}
    <ul>
      {{range .Options}} <!-- range over the data in options -->
        <li><a href="/{{.Arc}}">{{.Text}}</a></li>  
      {{end}}
    </ul>
  </body>
</html>